# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Raw datasets only
Data/carparts-seg/
Data/*.pdf
notebooks/datasets/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db